@import 'vars';
@import 'global';
@import 'fonts';




.header__top {
	background-color: #ffffff;
}

.header__top-inner {
	display: flex;
	justify-content: space-between;
	height: 91px;
	align-items: center;
}

.header__text {
	margin-left: auto;
	margin-right: 40px;

	span {
		color: $red;
	}
}

.header__btn {
	padding: 4px;
	width: 71px;
	border-radius: 4px;
	font-size: 12px;
	line-height: 24px;
	color: #ffffff;
	text-align: center;
}

.header__btn-login {
	background-color: $green;
}

.header__btn-register {
	background-color: $red;
	margin-left: 7px;

}

.header__menu {
	background-color: $bg;
}

.menu {
	display: flex;
	align-items: center;
	height: 60px;
}

.menu__list {
	li {
		display: inline-block;

		&+li {
			margin-left: 37px;
		}
	}

	a {
		color: #ffffff;
		@include f500;
		font-size: 14px;
		line-height: 30px;
	}
}

// section search

.search {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 534px;

	&.page-search {
		min-height: 230px;

		.search__inner {
			padding: 60px 0 65px;

			&-text {
				margin-bottom: 25px;
			}
		}
	}
}

.search__inner {
	text-align: center;
	padding: 143px 0 100px;
	color: #fff;

	&-title {
		font-size: 48px;
		@include f700;
		line-height: 72px;
		margin-bottom: 9px;
		letter-spacing: -1px;
	}

	&-text {
		font-size: 20px;
		line-height: 30px;
		@include f500;
		margin-bottom: 48px;
	}

	&-form {
		max-width: 672px;
		margin: 0 auto;
		position: relative;

		input {
			// display: block;
			width: 100%;
			height: 56px;
			background-color: #fff;
			border: none;
			border-radius: 4px;
			box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
			padding-left: 25px;
			padding-right: 60px;
			font-size: 14px;
			line-height: 30px;
			outline: none;
			@include f500;

			&:focus {
				border: 1px solid #ccc;
			}

			&::placeholder {
				color: #90a4ae;
				@include f500;
			}
		}

		button {
			position: absolute;
			top: 17px;
			right: 14px;
			border: none;
			outline: none;
			background-color: transparent;
			cursor: pointer;

		}
	}
}


// products 

.products {
	background-color: #f4f6f5;
	padding: 100px 0 170px;
	text-align: center;

}

.products__title {
	margin-bottom: 50px;
	letter-spacing: -1px;
}

.products__inner-btn {
	margin-bottom: 50px;

	button {
		font-size: 14px;
		@include f500;
		background-color: #fff;
		border: none;
		padding: 10px 23px;
		color: $bg;
		cursor: pointer;
		outline: none;

		&+button {
			margin-left: 1px;
		}

		&.mixitup-control-active {
			background-color: $red;
			color: #fff;
		}
	}
}


.product__item {
	padding: 0 15px;
	max-width: 442px;
	width: 100%;
	box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
	padding-bottom: 22px;
	margin-bottom: 30px;

	&-img {
		min-height: 250px;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin-bottom: 25px;
	}

	&-content {
		display: flex;
		justify-content: space-between;
		padding: 0 30px;
		margin-bottom: 30px;

	}

	&-name {
		max-width: 310px;
		text-align: left;
	}

	&-title {
		font-size: 18px;
		@include f500;
		margin-bottom: 10px;

	}

	&-category {
		@include f500;
		color: $green;
		display: block;

	}

	&-price {
		font-size: 20px;
		@include f700;
		line-height: 34px;
	}

	&-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 30px;

	}

	&-star {
		font-size: 12px;
		display: inline-block;
		span {
			color: $bg;
		
		}
	}
}

.product__item-author {
	display: flex;
	max-width: 240px;
	align-items: center;
	cursor: pointer;

	.avatar {
		min-width: 30px;
		height: 30px;
		border-right: 50%;
		margin-right: 10px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: inline-block;
	}

	span {
		@include f500;
		font-size: 14px;
		word-break: break-all;
	}

	&-star {
		font-size: 12px;

	}
}

.products__inner-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.products__bottom-btn {
	margin-top: 50px;
	font-size: 16px;

	button {
		padding: 15px 30px;
		margin: 0 5px;
		background-color: #fff;
		border: none;
		box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
		cursor: pointer;
		outline: none;

		&.mixitup-control-active {
			background-color: $red;
			color: #fff;

		}
	}
}

// slider-products start 


.slider-products {
	background-color: #fff;
	padding: 115px 0 115px;
	text-align: center;

	.slick-dots {
		margin-top: 67px;

		li {
			display: inline-block;
			margin: 0 4px;

			&.slick-active {
				button {
					background-color: $green;
				}
			}
		}

		button {
			border: none;
			font-size: 0;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: #e8e8e8;
			outline: none;
			cursor: pointer;
		}
	}

}

.slider-products__title {
	margin-bottom: 50px;
	letter-spacing: -1px;

}

// advantages

.advantages {
	background-color: $bg;
	padding: 115px 0;
}

.advantages__title {
	color: #fff;
	margin-bottom: 70px;
}

.advantages__inner {
	display: flex;
	justify-content: space-between;
}

.advantages__item {
	max-width: 330px;
	text-align: center;
	padding: 0 8px;
	transition: all 2s;
	cursor: pointer;

	&-title {
		color: #fff;
		font-size: 24px;
		@include f500;
		margin-bottom: 20px;
	}

	&-text {
		color: #b0bec5;
		line-height: 24px;
	}

	&:hover {
		.advantages__item-image {
			background-color: $green;
			transition: all .5s;

			svg g {
				fill: #fff;
				transition: all .5s;
			}
		}

		.advantages__item-title {
			color: $green;
			transition: all .5s;
		}

	}

}

.advantages__item-image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 30px;
	width: 115px;
	height: 115px;
	border-radius: 50%;
	background: #fff;
	display: inline-block;
	transition: all .5s;

	&.iconsvg-1 {
		svg {
			width: 50px;
			height: 115px;
		}
	}

	&.iconsvg-2 {
		svg {
			width: 72px;
			height: 115px;
		}
	}

	&.iconsvg-3 {
		svg {
			width: 87px;
			height: 122px;
		}
	}
}

// author
.author {

	min-height: 749px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;

	&__box {
		width: 100%;
		max-width: 650px;
		min-height: 215px;
		background-color: $green;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__title {
		width: 270px;
		font-size: 30px;
		line-height: 36px;
		color: #fff;
		margin-right: 45px;
		@include f500;

		span {
			@include f700;
		}
	}

	&__link {
		padding: 14px 40px;
		background-color: #fff;
		font-size: 18px;
		line-height: 36px;
		color: $bg;
	}
}

// tutorial

.tutorial {
	background-color: #fff;
	padding: 65px 0 150px;

	&__title {
		margin-bottom: 45px;
	}
}

.tutorial__inner {
	display: flex;
	justify-content: space-between;
}

.tutorial__item {
	max-width: 370px;
	width: 100%;
	text-align: center;

	&-image {
		background-image: url('../images/content/tutorial.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		min-height: 273px;
		margin-bottom: 30px;
	}

	&-title {
		font-size: 24px;
		line-height: 60px;
		@include f700;
		color: $bg;
	}
}


// footer

.footer {
	background-color: $bg;

	&__copy {
		padding: 15px 0 20px;
		border-top: 1px solid rgb(66, 77, 83);
		font-size: 15px;
		line-height: 36px;
		font-weight: 400;
		font-family: 'Roboto', sans-serif;
		text-align: center;
		color: #919699;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 90px 0;
	}

	&__col {
		max-width: 270px;
	}

	&__menu {
		max-width: 222px;
	}

	&__col-title {
		font-family: 'Raleway', sans-serif;
		font-size: 22px;
		line-height: 24px;
		color: #fff;
		padding-bottom: 28px;
		position: relative;
		margin-bottom: 25px;

		&::after {
			position: absolute;
			content: '';
			left: 0;
			bottom: 0;
			width: 50px;
			height: 3px;
			background-color: $green;
		}
	}

	&__col-text {
		color: #b7c3c8;
		margin-bottom: 30px;
	}

}

.footer__info {
	margin-top: 20px;
	color: #fff;
	padding-left: 30px;
	position: relative;

	&::before {
		position: absolute;
		content: '\f041';
		font-size: 18px;
		left: 0;
		color: $green;
		font-family: 'icomoon';
		top: -2px;
	}
}

.footer__info-phone {
	&::before {
		content: "\f095";
	}
}


.footer__col-list {
	margin-top: -10px;


	a {
		color: #b7c3c8;
		line-height: 36px;
		padding-left: 20px;
		position: relative;

		&::before {
			position: absolute;
			content: '\f105';
			font-size: 18px;
			left: 0;
			color: $green;
			font-family: 'icomoon';
			top: -2px;
		}
	}
}

.footer__form-title {
	font-size: 20px;
	line-height: 36px;
	color: #fff;
	margin-bottom: 16px;
}


.footer__cocial-link {
	margin: 27px 0;

	li {
		display: inline-block;
	}

	a {
		background-image: url('../images/icons/css_sprites.png');
		width: 28px;
		height: 28px;

		&+a {
			margin-left: 4px;
		}
	}
}


.link-facebook {
	background: url('css_sprites.png') -0 -0;
}

.link-twitter {
	background: url('css_sprites.png') -28px -0;
}

.link-youtube {
	background: url('css_sprites.png') -0 -28px;
}

.link-pinterest {
	background: url('css_sprites.png') -28px -28px;
}

.link-instagram {
	background: url('css_sprites.png') -56px -0;
}




.footer__form {
	position: relative;

	input {
		height: 40px;
		background-color: #2f3c43;
		border: none;
		padding-left: 15px;
		padding-right: 50px;
		display: block;
		width: 100%;
		color: #fff;

		&::placeholder {
			color: #697378;
		}
	}

	button {
		position: absolute;
		width: 43px;
		height: 40px;
		border: none;
		bottom: 0;
		right: 0;
		background-color: $green;
		cursor: pointer;

		&::before {
			position: absolute;
			content: '\f124';
			font-size: 20px;
			top: 9px;
			left: 11px;
			color: #fff;
			font-family: 'icomoon';

		}
	}
}



// product-page 


.product-page__inner {
	display: flex;
	padding-bottom: 110px;
}

.product-page__aside {
	margin-right: 30px;
}

.aside__item {
	background: #fff;
	border: 1px solid #dedede;
	padding: 0 32px 32px;
	margin-bottom: 30px;
	width: 270px;
}

.aside__title {
	border-bottom: 1px solid #dde3e8;
	font-size: 20px;
	color: $bg;
	padding: 22px 0 18px;
	@include f700;
}

.category__list {
	padding-top: 10px;
	li {
		padding: 10px 0;
		display: flex;
		justify-content: space-between;
		position: relative;
		padding-left: 20px;
		a::before {
			position: absolute;
			content: '\f105';
			font-size: 18px;
			left: 0;
			color: #8bc34a;
			font-family: 'icomoon';
			top: 8px;
		}
	}
	a{
		color: $bg;
	}
	span{
		color: #90a4ae;
		margin-left: 10px;
	}
}

.irs-max,
.irs-min{
	display: none;
}
.irs--flat .irs-line{
	background-color: #f2f5f8;
	height: 5px;
}
.irs--flat .irs-bar {
	height: 5px;
	background-color: $bg;
}
.irs--flat .irs-handle {
	width: 16px;
	height: 16px;
	border: 4px solid $green;
	background-color: #fff;
	border-radius: 50%;
	top: 19px;
}
.irs--flat .irs-handle>i:first-child{
	display: none;
}
.irs-from, .irs-single, .irs-to {
	top: 45px;
	
}
.irs--flat .irs-from, .irs--flat .irs-single, .irs--flat .irs-to {
	background-color: transparent;
	color: #78909c;
	font-size: 15px;
}
.irs--flat .irs-from:before, .irs--flat .irs-single:before, .irs--flat .irs-to:before {
	display: none;
}
.price-range{
	form{
		padding: 20px 0 0;
	}
	button{
		margin-top: 55px;
		padding: 15px 10px;
		background-color: $green;
		text-align: center;
		color: #fff;
		@include f500;
		width: 100%;
		border: none;
		cursor: pointer;
		position: relative;
		&::before {
			position: absolute;
			content: '\f002';
			font-size: 15px;
			left: 55px;
			color: #fff;
			font-family: 'icomoon';
		}
	}
}

 .product-page__aside{
	.product__item-img{
		min-height: 120px;
		margin-bottom: 18px;
	}
	.product__item{
		box-shadow: none;
		padding: 0px;
		padding-bottom: 30px;
		border-bottom: 1px solid #dde3e8;
	}
	.product__item-content{
		padding: 0;
		margin-bottom: 18px;
	}
	.product__item-info{
		padding: 0;
		min-height: 0;
	}
	.product__item-title{
		font-size: 16px;
	}
	.product__item-price{
		font-size: 16px;
	}
	.product__item-title{
		margin-bottom: 8px;
	}
	.rate-star{
		margin-right: 0;
		// padding: 0;
	}
}
.product-page__aside{
	.product__item:last-child{
		border: none;
		padding-bottom: 0;
	}
	.product__item:first-child{
		margin-top: 26px;
	}
}
.top-sellers__link{
	padding: 16px 10px;
	display: block;
	background-color: $green;
	color: #fff;
	@include f500;
	text-align: center;
}
.product-page__filter{
	background-color: #fff;
	border: 1px solid #dedede;
	padding: 0 20px;
	margin-bottom: 30px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	button{
		cursor: pointer;
		background-color: transparent;
		border: none;
		font-size: 16px;
		color: #90a4ae;
		&.active{
			color: $green;
		}
	}
}
.product-page__content{
	width: 100%;
}
.product-page__filter-sort{
	color: #707070;
	font-size: 14px;
	display: flex;
	align-items: center;
	.icon-sort-amount-asc{
		font-size: 14px;
		color: #455a64;
	}
	.icon-unsorted{
		font-size: 18px;
		color: #707070;
	}
}
.product-page__items{
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.product-page__content{
	.product__item{
		max-width: 270px;
		padding-left: 0;
		padding-right: 0;
		display: inline-block;
		background-color: #fff;
	}
	.product__item-img{
		min-height: 180px;
		
	}
}
.product__item-content{
	padding: 0 20px;
}
.product__item-info{
	padding: 0 20px;
}
.product__item-title{
	font-size: 16px;
}
.rate-star {
	display: inline-block;
	margin-right: 0px;
	padding-left: 5px;
}
.product__item-star {
	// font-size: 12px;
	// display: inline-block;
	// max-width: 100px;
	// width: 100%;
}
.pagination__list{
	li{
		display: inline-block;
		& + li{
			margin-left: 6px;
		}
	}
	a,
	span{
		box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
		width: 43px;
		height: 38px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		font-size: 16px;
		color: $bg;
		@include f500;
		&.active{
			background-color: $red;
			color: #ffffff;
		}
	}

}