@import 'vars';
@import 'global';
@import 'fonts';




.header__top {
	background-color: #ffffff;
}

.header__top-inner {
	display: flex;
	justify-content: space-between;
	height: 91px;
	align-items: center;
}

.header__text {
	margin-left: auto;
	margin-right: 40px;

	span {
		color: $red;
	}
}

.header__btn {
	padding: 4px;
	min-width: 71px;
	border-radius: 4px;
	font-size: 12px;
	line-height: 24px;
	color: #ffffff;
	text-align: center;
}

.header__btn-login {
	background-color: $green;
}

.header__btn-register,
.header__btn-logout {
	background-color: $red;
	margin-left: 7px;

}

.header__menu {
	background-color: $bg;
}

.menu {
	display: flex;
	align-items: center;
	height: 60px;
}

.menu__list {
	li {
		display: inline-block;

		&+li {
			margin-left: 37px;
		}
	}

	a {
		color: #ffffff;
		@include f500;
		font-size: 14px;
		line-height: 30px;
	}
}

.header__circle {
	&.active {
		display: block;
	}

	display: none;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background-color: #f5f5f5;
	position: relative;

	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #a0a0a0;
		font-size: 14px;
	}

	// & + .header__circle{
	// 	margin-left: 15px;
	// } убираю, потому что ниже использую єтот марджин для каждого елемента, когда
	//делаю для них випадающие меню
	span {
		position: absolute;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		text-align: center;
		line-height: 18px;
		right: -7px;
		top: -7px;
		font-size: 15px;
		color: #fff;

	}
}

.header__box {
	display: flex;
	align-items: center;
}

.header__btn-login--off {
	display: none;
}

.header__btn-logout {
	display: none;

	&.header__btn-login--on {
		display: block;
	}
}

.notification {
	span {
		background-color: #fcb322;
	}
}

.message {
	span {
		background-color: #ef6c00;
	}
}

.basket {
	margin-right: 20px;

	span {
		background-color: $green;
	}
}

.user {
	margin-right: 25px;
	padding-right: 20px;
	position: relative;

	&::before {
		content: '\f107';
		position: absolute;
		font-family: 'icomoon';
		font-size: 16px;
		color: 707070;
		top: 0;
		right: 0;

	}

	&__inner {
		display: flex;
		align-items: center;
	}

	&__images {
		margin-right: 15px;
		height: 34px;
		width: 34px;
		overflow: hidden;
		border-radius: 50%;
	}

	&__info {
		font-size: 14px;
		line-height: 24px;
	}

	&__name {
		@include f500;
		color: #222222;

	}

	&__money {
		color: $green;
		@include f700;
	}
}

.user__menu {
	position: absolute;
	background-color: #fff;
	padding: 0 20px;
	width: 158px;
	top: 69px;
	left: 20px;
	transition: all .3s;
	height: 0px;
	overflow: hidden;

	a {
		font-size: 12px;
		color: #546e7a;
		margin-bottom: 15px;
	}
}

.circle__menu {
	transition: all .3s;
	position: absolute;
	top: 62px;
	border-top: 1px solid #e0e0e0;
	right: 0;
	height: 0;
	overflow: hidden;
}

.circle__info-date {
	color: #707070;
	font-size: 10px;
}

.notification__menu,
.message__menu {
	.circle__images {
		margin-right: 20px;
		width: 48px;
		height: 48px;
		border-radius: 50%;

	}

	.circle__info {
		line-height: 18px;
	}
}

.user__box,
.basket__box,
.message__box,
.notification__box {
	position: relative;
	height: 90px;
	margin-top: 40px;

	&:hover {

		.user__menu,
		.circle__menu {
			height: auto;
			padding: 20px;
			border: 1px solid rgb(204, 204, 204);
			overflow: auto;
			z-index: 10;
		}

		.circle__item {
			padding: 23px;
			border: 1px;
		}

		.header__circle::before {
			color: $bg;

		}
	}
}

.basket__box,
.message__box,
.notification__box {
	margin-top: 55px;
	margin-left: 15px;

	&:hover {

		.circle__menu {
			padding: 0;
		}

	}
}

.circle__item {
	background-color: #fff;
	border: 0px solid #e0e0e0;
	border-top: none;
	padding: 0 23px;
	display: flex;
	align-items: center;
	width: 269px;
	position: relative;
	transition: all .3s;

	&::before {
		position: absolute;
		top: 27px;
		right: 28px;
		color: #b0bec5;
	}
}

.icons-color::before {
	color: $tomato;
	font-size: 16px;
}

.circle__info {
	line-height: 22px;
}

.circle__images {
	margin-right: 15px;
}

.circle__info-name {
	@include f500;
	color: $bg;
}

.circle__info-theme {
	font-size: 12px;
	color: $green;
}

.circle__info-price {
	@include f500;
	color: #000;
	font-size: 16px;
}

.basket__summ {
	padding: 16px 17px 12px;
	border: 1px solid #e0e0e0;
	border-top: none;
	background-color: #fff;
}

.basket__title {
	display: flex;
	justify-content: space-between;
	padding-left: 13px;
	padding-right: 22px;
	margin-bottom: 15px;
	@include f700;
	font-size: 16px;
	color: $bg;
}

.basket__btn {
	@include f700;
	color: #fff;
	font-size: 14px;
	padding: 12px 5px;
	background-color: $green;
	text-align: center;
	width: 100px;
}

.basket__btn-checkout {
	width: 120px;
	margin-left: 6px;
	background-color: $red;
}

.header__btn-menu,
.menu__btn {
	display: none;
}

//header finish

//popup

#modal {
	background-color: $green;
	max-width: 730px;
	width: 100%;
	padding-top: 90px;
	padding-bottom: 100px;
}

.login__title {
	text-align: center;
	font-size: 48px;
	margin-bottom: 40px;
	color: #fff;
	text-transform: uppercase;
	@include f700;
}

.login__wrapper {
	form {
		max-width: 400px;
		margin: 0 auto;
	}

	label {
		position: relative;
		display: block;
		width: 100%;

		&::before {
			position: absolute;
			font-family: 'icomoon';
			font-size: 14px;
			color: #fff;
			left: 18px;
			// z-index: 2;
			top: 12px;
		}
	}

	.login__label-name::before {
		content: '\f007';
	}

	.login__label-pass::before {
		content: '\f023';
	}

	input {
		height: 43px;
		margin-bottom: 8px;
		border: none;
		background-color: #76ae36;
		color: #fff;
		font-size: 14px;
		padding-left: 40px;
		display: block;
		width: 100%;
		outline-color: transparent;

		&::placeholder {
			color: #fff;
			font-size: 14px;
		}
	}

	button {
		margin-top: 13px;
		padding: 18px 0 16px;
		background-color: #ffffff;
		width: 140px;
		text-transform: uppercase;
		border: none;
		margin-right: 10px;
		@include f700;
		color: #000;
		text-align: center;
		box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);

	}
}

.creat-acc {
	background-color: #76ae36;
	margin-top: 13px;
	padding: 16px 0 16px 24px;
	text-align: center;
	width: 245px;
	font-size: 18px;
	position: relative;
	color: #fff;

	&::before {
		position: absolute;
		content: '\f044';
		color: #ffffff;
		font-family: 'icomoon';
		top: 16px;
		left: 31px;
	}
}

.lost-pass {
	display: block;
	margin-top: 20px;
	color: #ffffff;
	font-size: 18px;
}

.fancybox-button svg path {
	fill: #fff;
}

//popup


// section search

.search {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 534px;

	&.page-search {
		min-height: 230px;

		.search__inner {
			padding: 60px 0 65px;

			&-text {
				margin-bottom: 25px;
			}
		}
	}
}

.search__inner {
	text-align: center;
	padding: 143px 0 100px;
	color: #fff;

	&-title {
		font-size: 48px;
		@include f700;
		line-height: 72px;
		margin-bottom: 9px;
		letter-spacing: -1px;
	}

	&-text {
		font-size: 20px;
		line-height: 30px;
		@include f500;
		margin-bottom: 48px;
	}

	&-form {
		max-width: 672px;
		margin: 0 auto;
		position: relative;

		input {
			// display: block;
			width: 100%;
			height: 56px;
			background-color: #fff;
			border: none;
			border-radius: 4px;
			box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
			padding-left: 25px;
			padding-right: 60px;
			font-size: 14px;
			line-height: 30px;
			outline: none;
			@include f500;

			&:focus {
				border: 1px solid #ccc;
			}

			&::placeholder {
				color: #90a4ae;
				@include f500;
			}
		}

		button {
			position: absolute;
			top: 17px;
			right: 14px;
			border: none;
			outline: none;
			background-color: transparent;
			cursor: pointer;

		}
	}
}


// products 

.products {
	background-color: #f4f6f5;
	padding: 100px 0 170px;
	text-align: center;

}

.products__title {
	margin-bottom: 50px;
	letter-spacing: -1px;
}

.products__inner-btn {
	margin-bottom: 50px;

	button {
		font-size: 14px;
		@include f500;
		background-color: #fff;
		border: none;
		padding: 10px 23px;
		color: $bg;
		cursor: pointer;
		outline: none;

		&+button {
			margin-left: 1px;
		}

		&.mixitup-control-active {
			background-color: $red;
			color: #fff;
		}
	}
}


.product__item {
	padding: 0 15px;
	max-width: 442px;
	width: 100%;
	box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
	padding-bottom: 22px;
	margin-bottom: 30px;

	&-img {
		min-height: 250px;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		margin-bottom: 25px;
	}

	&-content {
		display: flex;
		justify-content: space-between;
		padding: 0 30px;
		margin-bottom: 30px;

	}

	&-name {
		max-width: 310px;
		text-align: left;
	}

	&-title {
		font-size: 18px;
		@include f500;
		margin-bottom: 10px;

	}

	&-category {
		@include f500;
		color: $green;
		display: block;

	}

	&-price {
		font-size: 20px;
		@include f700;
		line-height: 34px;
	}

	&-info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 30px;

	}

	&-star {
		font-size: 12px;
		display: inline-block;

		span {
			color: $bg;

		}
	}
}

.product__item-author {
	display: flex;
	max-width: 240px;
	align-items: center;
	cursor: pointer;

	.avatar {
		min-width: 30px;
		height: 30px;
		border-right: 50%;
		margin-right: 10px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: inline-block;
	}

	span {
		@include f500;
		font-size: 14px;
		word-break: break-all;
	}

	&-star {
		font-size: 12px;

	}
}

.products__inner-box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.products__bottom-btn {
	margin-top: 50px;
	font-size: 16px;

	button {
		padding: 15px 30px;
		margin: 0 5px;
		background-color: #fff;
		border: none;
		box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
		cursor: pointer;
		outline: none;

		&.mixitup-control-active {
			background-color: $red;
			color: #fff;

		}
	}
}

// slider-products start 


.slider-products {
	background-color: #fff;
	padding: 115px 0 115px;
	text-align: center;

	.slick-dots {
		margin-top: 67px;

		li {
			display: inline-block;
			margin: 0 4px;

			&.slick-active {
				button {
					background-color: $green;
				}
			}
		}

		button {
			border: none;
			font-size: 0;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: #e8e8e8;
			outline: none;
			cursor: pointer;
		}
	}

}

.slider-products__title {
	margin-bottom: 50px;
	letter-spacing: -1px;

}

// advantages

.advantages {
	background-color: $bg;
	padding: 115px 0;
}

.advantages__title {
	color: #fff;
	margin-bottom: 70px;
}

.advantages__inner {
	display: flex;
	justify-content: space-between;
}

.advantages__item {
	max-width: 330px;
	text-align: center;
	padding: 0 8px;
	transition: all 2s;
	cursor: pointer;

	&-title {
		color: #fff;
		font-size: 24px;
		@include f500;
		margin-bottom: 20px;
	}

	&-text {
		color: #b0bec5;
		line-height: 24px;
	}

	&:hover {
		.advantages__item-image {
			background-color: $green;
			transition: all .5s;

			svg g {
				fill: #fff;
				transition: all .5s;
			}
		}

		.advantages__item-title {
			color: $green;
			transition: all .5s;
		}

	}

}

.advantages__item-image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 30px;
	width: 115px;
	height: 115px;
	border-radius: 50%;
	background: #fff;
	display: inline-block;
	transition: all .5s;

	&.iconsvg-1 {
		svg {
			width: 50px;
			height: 115px;
		}
	}

	&.iconsvg-2 {
		svg {
			width: 72px;
			height: 115px;
		}
	}

	&.iconsvg-3 {
		svg {
			width: 87px;
			height: 122px;
		}
	}
}

// author
.author {

	min-height: 749px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;

	&__box {
		width: 100%;
		max-width: 650px;
		min-height: 215px;
		background-color: $green;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__title {
		width: 270px;
		font-size: 30px;
		line-height: 36px;
		color: #fff;
		margin-right: 45px;
		@include f500;

		span {
			@include f700;
		}
	}

	&__link {
		padding: 14px 40px;
		background-color: #fff;
		font-size: 18px;
		line-height: 36px;
		color: $bg;
	}
}

// tutorial

.tutorial {
	background-color: #fff;
	padding: 65px 0 150px;

	&__title {
		margin-bottom: 45px;
	}
}

.tutorial__inner {
	display: flex;
	justify-content: space-between;
}

.tutorial__item {
	max-width: 370px;
	width: 100%;
	text-align: center;

	&-image {
		background-image: url('../images/content/tutorial.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		min-height: 273px;
		margin-bottom: 30px;
	}

	&-title {
		font-size: 24px;
		line-height: 60px;
		@include f700;
		color: $bg;
	}
}


// footer

.footer {
	background-color: $bg;

	&__copy {
		padding: 15px 0 20px;
		border-top: 1px solid rgb(66, 77, 83);
		font-size: 15px;
		line-height: 36px;
		font-weight: 400;
		font-family: 'Roboto', sans-serif;
		text-align: center;
		color: #919699;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 90px 0;
	}

	&__col {
		max-width: 270px;
	}

	&__menu {
		max-width: 222px;
	}

	&__col-title {
		font-family: 'Raleway', sans-serif;
		font-size: 22px;
		line-height: 24px;
		color: #fff;
		padding-bottom: 28px;
		position: relative;
		margin-bottom: 25px;

		&::after {
			position: absolute;
			content: '';
			left: 0;
			bottom: 0;
			width: 50px;
			height: 3px;
			background-color: $green;
		}
	}

	&__col-text {
		color: #b7c3c8;
		margin-bottom: 30px;
	}

}

.footer__info {
	margin-top: 20px;
	color: #fff;
	padding-left: 30px;
	position: relative;

	&::before {
		position: absolute;
		content: '\f041';
		font-size: 18px;
		left: 0;
		color: $green;
		font-family: 'icomoon';
		top: -2px;
	}
}

.footer__info-phone {
	&::before {
		content: "\f095";
	}
}


.footer__col-list {
	margin-top: -10px;


	a {
		color: #b7c3c8;
		line-height: 36px;
		padding-left: 20px;
		position: relative;

		&::before {
			position: absolute;
			content: '\f105';
			font-size: 18px;
			left: 0;
			color: $green;
			font-family: 'icomoon';
			top: -2px;
		}
	}
}

.footer__form-title {
	font-size: 20px;
	line-height: 36px;
	color: #fff;
	margin-bottom: 16px;
}


.footer__cocial-link {
	margin: 27px 0;

	li {
		display: inline-block;
	}

	a {
		background-image: url('../images/icons/css_sprites.png');
		width: 28px;
		height: 28px;

		&+a {
			margin-left: 4px;
		}
	}
}


.link-facebook {
	background: url('css_sprites.png') -0 -0;
}

.link-twitter {
	background: url('css_sprites.png') -28px -0;
}

.link-youtube {
	background: url('css_sprites.png') -0 -28px;
}

.link-pinterest {
	background: url('css_sprites.png') -28px -28px;
}

.link-instagram {
	background: url('css_sprites.png') -56px -0;
}




.footer__form {
	position: relative;

	input {
		height: 40px;
		background-color: #2f3c43;
		border: none;
		padding-left: 15px;
		padding-right: 50px;
		display: block;
		width: 100%;
		color: #fff;

		&::placeholder {
			color: #697378;
		}
	}

	button {
		position: absolute;
		width: 43px;
		height: 40px;
		border: none;
		bottom: 0;
		right: 0;
		background-color: $green;
		cursor: pointer;

		&::before {
			position: absolute;
			content: '\f124';
			font-size: 20px;
			top: 9px;
			left: 11px;
			color: #fff;
			font-family: 'icomoon';

		}
	}
}



// product-page 


.product-page__inner {
	display: flex;
	padding-bottom: 110px;
}

.product-page__aside {
	margin-right: 30px;
}

.aside__item {
	background: #fff;
	border: 1px solid #dedede;
	padding: 0 32px 32px;
	margin-bottom: 30px;
	width: 270px;
}

.aside__title {
	border-bottom: 1px solid #dde3e8;
	font-size: 20px;
	color: $bg;
	padding: 22px 0 18px;
	@include f700;
}

.category__list {
	padding-top: 10px;

	li {
		padding: 10px 0;
		display: flex;
		justify-content: space-between;
		position: relative;
		padding-left: 20px;

		a::before {
			position: absolute;
			content: '\f105';
			font-size: 18px;
			left: 0;
			color: #8bc34a;
			font-family: 'icomoon';
			top: 8px;
		}
	}

	a {
		color: $bg;
	}

	span {
		color: #90a4ae;
		margin-left: 10px;
	}
}

.irs-max,
.irs-min {
	display: none;
}

.irs--flat .irs-line {
	// background-color: #f2f5f8;
	height: 5px;
}

.irs--flat .irs-bar {
	height: 5px;
	background-color: $bg;
}

.irs--flat .irs-handle {
	width: 16px;
	height: 16px;
	border: 4px solid $green;
	background-color: #fff;
	border-radius: 50%;
	top: 19px;
}

.irs--flat .irs-handle>i:first-child {
	display: none;
}

.irs-from,
.irs-single,
.irs-to {
	top: 45px;

}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
	background-color: transparent;
	color: #78909c;
	font-size: 15px;
}

.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
	display: none;
}

.price-range {
	form {
		padding: 20px 0 0;
	}

	button {
		margin-top: 55px;
		padding: 15px 10px;
		background-color: $green;
		text-align: center;
		color: #fff;
		@include f500;
		width: 100%;
		border: none;
		cursor: pointer;
		position: relative;

		&::before {
			position: absolute;
			content: '\f002';
			font-size: 15px;
			left: 55px;
			color: #fff;
			font-family: 'icomoon';
		}
	}
}

.product-page__aside {
	.product__item-img {
		min-height: 120px;
		margin-bottom: 18px;
	}

	.product__item {
		box-shadow: none;
		padding: 0px;
		padding-bottom: 30px;
		border-bottom: 1px solid #dde3e8;
	}

	.product__item-content {
		padding: 0;
		margin-bottom: 18px;
	}

	.product__item-info {
		padding: 0;
		min-height: 0;
	}

	.product__item-title {
		font-size: 16px;
	}

	.product__item-price {
		font-size: 16px;
	}

	.product__item-title {
		margin-bottom: 8px;
	}

	.rate-star {
		margin-right: 0;
		// padding: 0;
	}
}

.product-page__aside {
	.product__item:last-child {
		border: none;
		padding-bottom: 0;
	}

	.product__item:first-child {
		margin-top: 26px;
	}
}

.top-sellers__link {
	padding: 16px 10px;
	display: block;
	background-color: $green;
	color: #fff;
	@include f500;
	text-align: center;
}

.product-page__filter {
	background-color: #fff;
	border: 1px solid #dedede;
	padding: 0 20px;
	margin-bottom: 30px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	button {
		cursor: pointer;
		background-color: transparent;
		border: none;
		font-size: 16px;
		color: #90a4ae;
		outline: none;

		&.active {
			color: $green;
		}
	}
}

.product-page__content {
	width: 100%;
}

.product-page__filter-sort {
	color: #707070;
	font-size: 14px;
	display: flex;
	align-items: center;

	.icon-sort-amount-asc {
		font-size: 14px;
		color: #455a64;
	}

	.icon-unsorted {
		font-size: 18px;
		color: #707070;
	}
}

.product-page__items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.product-page__content {
	.product__item {
		max-width: 270px;
		padding-left: 0;
		padding-right: 0;
		display: inline-block;
		background-color: #fff;
		transition: all .5s;
	}

	.product__item-img {
		min-height: 180px;

	}
}

.product__item-content {
	padding: 0 20px;
}

.product__item-info {
	padding: 0 20px;
}

.product__item-title {
	font-size: 16px;
}

.rate-star {
	display: inline-block;
	margin-right: 0px;
	padding-left: 5px;
}

.pagination__list {
	li {
		display: inline-block;

		&+li {
			margin-left: 6px;
		}
	}

	a,
	span {
		box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
		width: 43px;
		height: 38px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		font-size: 16px;
		color: $bg;
		@include f500;

		&.active {
			background-color: $red;
			color: #ffffff;
		}
	}
}

.product__item-text {
	display: none;
}

.product__item-price {
	span {
		display: none;
	}
}

.product__item {
	&.list {
		max-width: 100%;
		padding: 0;

		.product__item-img {
			width: 240px;
			float: left;
			margin-bottom: 0;
		}

		.product__item-text {
			display: block;
			font-size: 14px;
			color: #70838d;
			margin-top: 15px;
			margin-bottom: 5px;
		}

		.product__item-price {
			font-size: 30px;

			span {
				display: block;
				font-size: 13px;
				color: #aeb4bb;
				margin-top: 15px;
			}
		}

		.product__item-name {
			max-width: 480px;
		}

		.product__item-list {
			display: block;
		}

		.product__item-star {
			margin-left: auto;
			margin-right: 30px;
		}
	}

	&-content {
		padding-top: 23px;
	}
}

.product__item-list {
	display: none;

	.icon-comment-o,
	.icon-heart-o {
		display: inline-block;
		font-size: 12px;
		color: #cad4d8;
		padding-left: 50px;
		border-left: 1px solid #aeb4bb;
		position: relative;

		span {
			@include f500;
			color: $bg;
		}

		&::before {
			font-size: 16px;
			color: $green;
			position: absolute;
			left: 20px;
			top: -2px;
		}
	}

	.icon-comment-o {
		// border-left: 1px solid #aeb4bb;
		padding-right: 30px;
	}
}


//product-one start
.product-one {
	padding-bottom: 100px;
}

.product-one__inner {
	display: flex;
}

.product-one__content {
	margin-right: 31px;
	max-width: 870px;
}

.product-one__images-inner {
	background-color: #fff;
	border: 1px solid #dcdcdc;
	display: flex;
	justify-content: center;
	align-items: center;
	// padding: 20px;
	padding: 20px 0;
}

.product-one__images {
	max-width: 829px;
	height: 422px;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.product-one__title {
	font-size: 30px;
	color: $bg;
	line-height: 40px;
	@include f500;
	margin-top: 30px;
	margin-bottom: 20px;
}

.product-one__text {
	font-size: 16px;
	color: #707070;
	margin-bottom: 35px;
	margin-top: 20px;
}

.product-one__box {
	margin-bottom: 55px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.product-one__link {
	a {
		color: $grey;
		padding: 16px 8px;
		width: 158px;
		font-size: 16px;

		&+a {
			margin-left: 13px;
		}
	}
}

.link-live {
	background-color: #e74c3c;
}

.link-screenshots {
	background-color: #455a64;
}

.link-documentation {
	background-color: $green;
}

.product-one__social {
	a {
		width: 54px;
		height: 50px;
		position: relative;

		&+a {
			margin-right: 3px;
		}

		&::before {
			font-size: 18px;
			color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.icon-facebook {
	background-color: #6370b6;
}

.icon-twitter {
	background-color: #64b5f6;
}

.icon-linkedin {
	background-color: #4f71ce;
}

.icon-pinterest-p {
	background-color: #d32f2f;
}


// .product-one__tabs{

// }
// .product-one__more{

// }
.product-one__more-title {
	font-size: 18px;
	@include f500;
	color: $bg;
	padding: 18px 25px;
	background-color: #fff;
	border: 1px solid #dcdcdc;
	margin-bottom: 28px;
}

.product-one__more-icons {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}


.productmini__info {
	line-height: 24px;
}

.productmini__images {
	width: 100px;
	height: 91px;
	margin-right: 20px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.productmini {
	max-width: 270px;
	width: 100%;
	margin-bottom: 27px;
	display: flex;
	align-items: center;
	height: 91px;
	background-color: #fff;
	box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
}

.productmini__name {
	@include f500;
	font-size: 14px;
	color: $bg;

}

.productmini__theme {
	color: $green;
	font-size: 12px;
}

.productmini__price {
	@include f700;
	font-size: 18px;
	color: $bg;
}

.product-one__tabs {
	margin-bottom: 55px;
}

.tabs {
	display: flex;
	text-align: center;
	border: 1px solid #d7d7d7;

	.tab {
		width: 100%;
		background-color: #fff;
		font-size: 16px;
		padding: 20px 0;
		cursor: pointer;

		&+.tab {
			border-left: 1px solid #d7d7d7;
		}
	}
}

.tab_content {
	background-color: #fff;
	border: 1px solid #d7d7d7;
	border-top: none;
	padding: 30px 30px 50px;
}

.tab-item {
	display: none;

	&:first-child {
		display: block;
	}
}

.tab-items__list {
	line-height: 36px;
	font-size: 16px;
	color: #707070;
	column-count: 2;
	// column-gap: 25px;
	margin: 0;

	li {
		max-width: 270px;
		width: 100%;
		display: inline-block;
	}
}

.price__box {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
}

.price__product {
	font-size: 22px;
	@include f500;
	color: $red;

}

.product__price {
	button {
		margin-bottom: 7px;
		box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
		border: none;
		background-color: $text;
		color: #fff;
		font-size: 16px;
		font-family: "Roboto-Regular", sans-serif !important;
		font-weight: 700;
		text-align: center;
		display: block;
		padding: 17px 5px 15px;
		width: 100%;
		cursor: pointer;

		&::before {
			font-weight: 400;
			font-family: 'icomoon';
			padding-right: 8px;
		}
	}

	.icon-shopping-cart {
		background-color: $green;
	}

	.icon-heart-o {
		background-color: #42a5f5;
	}
}

.product-author__box {
	padding: 25px 0;
	display: flex;
	// align-items: center;
}

.author__avatar {
	margin-right: 14px;
}
.author__name {
	font-size: 18px;
	line-height: 15px;
	color: $bg;
	margin-bottom: 20px;
}
.author__info-link {
	color: #707070;
	font-size: 13px;
	padding: 6px 9px 5px;
	border: 1px solid #d6d6d6;
}

.author__awards-list {
	li {
		display: inline-block;
		color: #fff;
		font-size: 20px;
		text-align: center;
		position: relative;

		&::before {
			position: absolute;
			padding-top: 6px;
			left: 0;
			right: 0;
		}

		&+li {
			margin-left: 4px;
		}
	}

	.icon-meh-o {
		background-image: url(../images/awards/awards-orange.png);
		width: 34px;
		height: 37px;
	}

	.icon-pagelines {
		background-image: url(../images/awards/awards-red.png);
		width: 34px;
		height: 37px;
	}

	.icon-flash {
		background-image: url(../images/awards/awards-blue.png);
		width: 34px;
		height: 37px;
	}

	.icon-foursquare {
		background-image: url(../images/awards/awards-green.png);
		width: 34px;
		height: 37px;
	}

	.icon-yen {
		background-image: url(../images/awards/awards-grey.png);
		width: 34px;
		height: 37px;
	}
}

.aside__item-sales {
	padding-top: 22px;
	font-size: 16px;
	@include f500;
	color: #707070;

	span {
		font-size: 20px;
		@include f700;
		color: #263238;
		padding-right: 13px;

		&::before {
			content: "\f07a";
			color: #a6b5bb;
			padding-right: 20px;
			font-family: "icomoon";
		}
	}
}

.aside__item.sales-num {
	padding-bottom: 22px;
}

.information__line {
	color: $bg;
	font-size: 14px;
	margin-top: 18px;
	@include f700;
	line-height: 20px;

	span {
		color: #70838d;
		@include f500;
	}
}

//product-one finish

//page-404 start

.page-404__wrapper,
.about__wrapper,
.contact__wrapper {
	border: 1px solid #dcdcdc;
	background-color: #fff;
	margin-bottom: 150px;
}

.page-404__head,
.about__head,
.contact__head {
	font-size: 24px;
	color: #444;
	padding: 23px 27px;
	@include f500;
	border-bottom: 1px solid #dcdcdc;
}

.page-404__inner {
	text-align: center;
	background-color: $green;
	color: #fff;

}

.page-404__404 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color: #fff;
	font-size: 300px;
	padding-top: 63px;
	padding-bottom: 25px;
	line-height: 300px;
	position: relative;
	text-align: left;
	padding-left: 261px;

	&::after {
		position: absolute;
		content: '';
		background-image: url('../images/page404.png');
		width: 157px;
		height: 301px;
		margin-left: 6px;
	}
}

.page-404__title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 30px;
	letter-spacing: 5.5px;
	text-align: left;
	padding-left: 336px;
	padding-bottom: 30px;
}

.page-404__text {
	max-width: 536px;
	margin: 0 auto;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 50px;
}

.page-404__link {
	color: #ffffff;
	text-transform: uppercase;
	border: 2px solid #fff;
	padding: 16px 30px;
	border-radius: 4px;
	margin-bottom: 100px;
}

//page-404 finish
.about__inner {
	padding: 0 50px;
}

.about__box {
	h3 {
		font-size: 20px;
		@include f700;
		color: #444444;
		margin-top: 40px;
		margin-bottom: 15px;
	}

	p {
		margin-bottom: 40px;
		color: #707070;
		line-height: 24px;
	}
}

//about start
//about finish

//contacts start
.contact__head {
	padding-left: 39px;
	padding-right: 39px;
}

.contact__inner {
	padding: 35px 39px 15px;
}

.contact__map {
	margin-bottom: 60px;

	iframe {
		width: 100%;
		height: 415px;
	}
}

.contact__box {
	display: flex;
}

.contact__info {
	margin-right: 30px;
	max-width: 330px;
	width: 100%;
}

.contact__info-title {
	margin-bottom: 22px;
	padding-left: 40px;
	padding-bottom: 20px;
	position: relative;
	font-size: 20px;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 500;
	color: $bg;

	&::after {
		position: absolute;
		content: '';
		width: 44px;
		height: 4px;
		background-color: $green;
		left: 40px;
		bottom: 0;
	}

	&::before {
		color: $green;
		font-size: 24px;
		position: absolute;
		left: 0;
		font-family: "icomoon";
	}
}

.contact__info-content {
	padding-left: 40px;
	color: #707070;
	max-width: 240px;
}

.contact__info-item {
	margin-bottom: 30px;
}

.contact__form-title {
	font-size: 24px;
	margin-bottom: 20px;
	@include f500;
	color: #333;
}

.contact__form-row {
	display: flex;
	justify-content: space-between;
}

.contact__form {
	width: 100%;

	input {
		border: none;
		height: 43px;
		padding-left: 17px;
		padding-right: 17px;
		background-color: #f1f4f5;
		width: 350px;
		margin-bottom: 30px;
		outline-color: rgb(204, 204, 204);

		&::placeholder {
			font-size: 15px;
			color: #7a7a7a;
		}
	}

	textarea {
		border: none;
		outline-color: rgb(204, 204, 204);
		padding: 13px 17px;
		background-color: #f1f4f5;
		height: 190px;
		width: 100%;
		display: block;
		resize: none;
		margin-bottom: 23px;

		&::placeholder {
			font-size: 15px;
			color: #7a7a7a;
		}
	}

	button {
		border: none;
		outline-color: rgb(204, 204, 204);
		background-color: $green;
		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		@include f700;
		color: #fff;
		padding: 20px 5px;
		width: 190px;
	}
}

//contacts fin

//setting start
.setting {
	padding-bottom: 100px;
}

.product-one__tabs.settins__tabs {
	display: flex;

	.tabs {
		max-width: 270px;
		width: 100%;
		height: 100%;
		margin-right: 30px;
		border: 1px solid #dedede;
		border-bottom: none;
		display: block;
		text-align: left;

		span {
			display: block;
			background-color: #fff;
			border-bottom: 1px solid #dedede;
			padding: 17px 17px 17px 50px;
			color: #707070;
			font-size: 14px;
			@include f500;

			&.active {
				border-bottom: 1px solid $green;
				color: #37474f;

				&::before {
					color: $green;
				}
			}

			&::before {
				left: 24px;
				color: #444;
			}
		}
	}

	.tabs .tab+.tab {
		border-left: none;
	}

	.tab_content {
		width: 100%;
		padding: 0;
		border: none;
		background-color: transparent;
	}
}

//контентная часть item
.page-box {
	background-color: #fff;
	border: 1px solid #dedede;
	// min-height: 100%;
}

.page-box__title {
	border-bottom: 1px solid #dedede;
	padding: 18px 34px;
	font-size: 24px;
	@include f500;
	color: $bg;
}

.page-box__content {
	padding: 30px 35px 80px;
}

.settings__line {
	margin-bottom: 21px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	label {
		width: 260px;
		color: #444;
	}

	input {
		max-width: 540px;
		width: 100%;
		height: 40px;
		background-color: #f9f9f9;
		color: #000;
		border: 1px solid #dedede;
		padding: 0 10px;
		outline-color: #d6d6d6;
	}

	select {
		max-width: 540px;
		width: 100%;
		height: 40px;
		background-color: #f9f9f9;
		color: #000;
		border: 1px solid #dedede;
		padding: 0 10px;
		outline-color: #d6d6d6;
		color: #707070;
	}
}

//setting fin

//profile start
.profile__inner{
	display: flex;
	margin-bottom: 30px;
}
.profile__aside{
	margin-right: 27px;
	max-width: 270px;
	width: 100%;
	& .product-author__box{
		padding: 25px 0 32px;
	}
	& .footer__cocial-link{
		margin: 26px 0;
	}
}
.profile__content{
	width: 100%;
}
.profile-status {
	font-size: 13px;
	padding: 6px 9px 5px 25px;
	border: 1px solid #d6d6d6;
	color: #707070;
	position: relative;

	&::before {
		position: absolute;
		content: '';
		left: 15px;
		width: 9px;
		height: 9px;
		border-radius: 50%;
		top: 8px;
		left: 10px;
	}
}

.profile-on {
	&::before {
		background-color: $green;
	}
}

.profile-off {
	&::before {
		background-color: $red;
	}
}

.profile__aside-btn {
	margin-bottom: 13px;
	text-align: center;
}

.profile__aside-message {
	margin-bottom: 17px;
	font-size: 16px;
	display: block;
	width: 100%;
	color: #fff;
	@include f500;
	background-color: #546e7a;
	padding: 18px 10px;
	position: relative;
	box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
	&::before{
		content: '\f003';
		font-family: 'icomoon';
		position: absolute;
		left: 54px;
		top: 17px;
	}
}

.profile__aside-following {
	margin-bottom: 17px;
	font-size: 16px;
	display: block;
	width: 100%;
	color: #fff;
	@include f700;
	background-color: $green;
	padding: 18px 10px;
	box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
}
.profile__banner{
	padding: 20px;
	border: 1px solid #dedede;
	background-color: #fff;
	margin-bottom: 30px;

}
.profile__banner-img{
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 332px;
}
.profile__items{
	display: flex;
	border: 1px solid #dedede;
}
.profile__item{
	width: 25%;
	background-color: #fff;
	text-align: center;
	padding: 20px 5px 17px;
	& + .profile__item{
		border-left: 1px solid #dedede;
	}
}
.profile__item-title{
	font-size: 14px;
	color: $bg;
	@include f500;
	margin-bottom: 6px;
}
.profile__item-content{
	font-size: 14px;
	color: #707070;
	&.profile__item-sales{
		color: $bg;
	}
}
.profile__item-member{
	text-align-last: left;
	padding-left: 43px;

	
}

//profile-settings start
.profile-settings{
	.product-one__tabs.settins__tabs{
		.tabs span{
			font-family: 'Roboto', sans-serif !important;
			font-weight: 500;
			color: #707070;
			position: relative;
			&.active::before{
				color: $green;
			}
			&::before{
				position: absolute;
				left: 24px;
				color: #d0d0d0;
				font-family: 'icomoon';
				font-size: 14px;
			}
		}
	} 
}
.personal-box{
	background-color: #fff;
	padding: 35px 40px 25px;
	border: 1px solid #dedede;

}
.personal-box__title{
	font-size: 20px;
	margin-bottom: 25px;
	@include f500;
	color: $bg;
}
.personal-box__text{
	margin-bottom: 20px;
	p{
		color: #707070;
	}
}

.personal-box__item-head{
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}
.personal-box__item-name{
	@include f500;
	font-size: 16px;
	color: $bg;
	font-style: italic;
}
.personal-box__item-number{
	@include f700;
	font-size: 16px;
	color: $bg;
}
.personal-box__item-line{
	height: 15px;
	background-color: #f4f4f4;
	border-radius: 3px;
	margin-bottom: 23px;
	span{
		display: block;
		border-radius: 3px;
		height: 15px;
		background-image: url('../images/pro-bar.jpg');
		background-repeat: repeat;
	}
}


//profile-settings finish




//profile finish







@import 'media';